default/demo.json
{"flowContents":{"identifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","instanceIdentifier":"eec61a4e-0197-1000-0000-000065272b6e","name":"demo","comments":"","position":{"x":528.0,"y":200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"59e83188-8452-3e22-a743-138a489efacc","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5","name":"Error-Capture","comments":"","position":{"x":4864.0,"y":2088.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Status":{"name":"Status","displayName":"Status","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"df148453-07ae-3d84-978c-b0cd85c48a92","instanceIdentifier":"f79f971f-678c-305f-8057-ead8ba03e868","name":"PutDistributedMapCache","comments":"","position":{"x":928.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache Entry Identifier":null,"Cache update strategy":"replace","Distributed Cache Service":null,"Max cache entry size":"1 MB","value":"done","key":"exec.id"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"value":{"name":"value","displayName":"value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"aafe2332-241e-3dc4-abee-7bcd3907b7db","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46","name":"FetchFile","comments":"","position":{"x":128.79749027309185,"y":991.0644410620471},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"476d5c73-a3ef-3c3e-8806-ab74a8f0929b","instanceIdentifier":"eee771dd-0197-1000-0000-00002f5ac984","name":"Spark-Jobs-Email-Notification","comments":"","position":{"x":4859.01953125,"y":2359.99169921875},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"${email.content}","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"ckonakalla@softility.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ckonakalla@softility.com","To":"ckonakalla@softility.com,lgangi@softility.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"bc18ed32-6897-3d90-b856-9b3f1ebbe97b","instanceIdentifier":"eee57a37-0197-1000-0000-00006fece9cb","name":"Scheduling-WorkFlow","comments":"","position":{"x":4856.0,"y":1472.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"69dbe3c0-462f-3236-91ee-357349f7129f","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476","name":"UpdateAttribute","comments":"","position":{"x":2304.0,"y":1464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"uuid":"${UUID()}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"uuid":{"name":"uuid","displayName":"uuid","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"f6f8859d-4205-3ae6-b63c-6ae6894d5bf4","instanceIdentifier":"ca87c79d-aab2-335d-a943-391f3d9c3bbc","name":"GenerateFlowFile","comments":"","position":{"x":2296.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e","name":"InvokeHTTP","comments":"","position":{"x":2024.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://192.168.2.112:8443/nifi-api/processors/${uuid}/status","Request OAuth2 Access Token Provider":"d059c446-0197-1000-de6f-23a30121041a","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"nifi","Request Content-Type":"${mime.type}","Response Body Attribute Name":"invokehttp.response.body","Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b3093353-ec8f-3805-a346-dd1f72c31c60","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276","name":"Spark-Jobs","comments":"","position":{"x":4859.01953125,"y":1807.99169921875},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"sh","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/status.sh"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"d13dff78-0d1b-3b56-ad01-d4377506bea6","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a","name":"UpdateAttribute","comments":"","position":{"x":-455.20250972690815,"y":407.0644410620471},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"spark-log-${now():format(\"yyyyMMddHHmmss\")}.log","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"075485da-a41a-390e-a69c-1b7fed7678ca","instanceIdentifier":"6a48dec4-15c0-37d8-b725-d515c4de42c2","name":"ExecuteStreamCommand","comments":"","position":{"x":1552.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":null,"Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"80e9c5e6-c08c-3b10-9efe-fe64c2ed1688","instanceIdentifier":"dd7a9973-6a95-379e-9aa9-2587c8e65d6a","name":"GetFile","comments":"","position":{"x":616.7974902730919,"y":151.06444106204708},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"data.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"0be17a7b-1047-321d-b323-57d1c4c4648e","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa","name":"RouteOnAttribute","comments":"","position":{"x":928.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"c457ebd1-01de-3abb-8ad2-4204452e8be3","instanceIdentifier":"f4f50a70-0197-1000-ffff-ffffe078de44","name":"Spark-Jobs-Monitoring-Info","comments":"","position":{"x":4288.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts/output/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"e091cf6d-9c71-3a26-b8fd-3e32336ee113","instanceIdentifier":"e826b340-3690-3d3b-8728-9925834926b5","name":"PutEmail","comments":"","position":{"x":2032.0,"y":1928.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":null,"Include All Attributes In Message":"false","SMTP Hostname":null,"Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":null,"To":null,"email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"56a6d2ea-5c92-3259-8670-3a42b82400e6","instanceIdentifier":"0bd398fd-dfbb-3a27-92fe-3b1969067001","name":"PutEmail","comments":"","position":{"x":120.79749027309185,"y":1535.064441062047},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":null,"Include All Attributes In Message":"false","SMTP Hostname":null,"Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":null,"To":null,"email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"f64bd2b2-9344-341e-a541-8381d5f706a7","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6","name":"UpdateAttribute","comments":"","position":{"x":616.7974902730919,"y":399.0644410620471},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"spark-log-${now():format(\"yyyyMMddHHmmss\")}.log","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"efe27263-7cb0-3d0e-adf7-61a2d830012e","instanceIdentifier":"919fb75b-16fe-3640-a20a-0e8a27e3ad96","name":"ListFile","comments":"","position":{"x":128.79749027309185,"y":767.0644410620471},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":"10 min","max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"spark-log-.*\\.log","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/opt/nifi/nifi-current/conf/scripts/output/","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false,"dynamic":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9","name":"UpdateAttribute","comments":"","position":{"x":928.0,"y":1096.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"start.time":"${now():toNumber()}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"exec.id":"${UUID()}"},"propertyDescriptors":{"start.time":{"name":"start.time","displayName":"start.time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"exec.id":{"name":"exec.id","displayName":"exec.id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0","name":"ExecuteStreamCommand","comments":"","position":{"x":2616.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":null,"Command Path":"sh","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/status.sh"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"28252299-6aeb-3f78-b86d-13849c0665e3","instanceIdentifier":"79afd00e-50aa-3aa6-99f0-d53c4e715e87","name":"PutEmail","comments":"","position":{"x":928.0,"y":2088.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":null,"Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","From":null,"Include All Attributes In Message":"false","SMTP Hostname":null,"Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":null,"To":null,"email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"80d44291-ad41-3046-af3a-64ec049d3b39","instanceIdentifier":"f4f5fafd-0197-1000-0000-00006d635727","name":"Spark-Jobs-Email-Notification","comments":"","position":{"x":4288.0,"y":2120.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"CC":null,"Reply-To":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"${email.content}","Attach File":"false","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"ckonakalla@softility.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Message from NiFi - Spark Jobs Exceeds Runtime","SMTP X-Mailer Header":"NiFi","oauth2-access-token-provider":null,"Content Type":"text/plain","SMTP Username":"ckonakalla@softility.com","To":"ckonakalla@softility.com,lgangi@softility.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Reply-To":{"name":"Reply-To","displayName":"Reply-To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false,"dynamic":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"authorization-mode":{"name":"authorization-mode","displayName":"Authorization Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6bb056ec-9490-343c-ba9d-9bc143a73c5b","instanceIdentifier":"0626d87d-d58a-39a7-ae70-b369b46a17b2","name":"GetFile","comments":"","position":{"x":-455.20250972690815,"y":159.06444106204708},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"data2.txt","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"6 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"fbe2712d-b34d-306a-9108-53b708eff4d4","instanceIdentifier":"cef6b749-d52b-3c3c-bc59-e355694f9d60","name":"GenerateFlowFile","comments":"","position":{"x":936.0,"y":856.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","start.time":"${now():toNumber()}","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","exec.id":"${UUID()}"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"start.time":{"name":"start.time","displayName":"start.time","identifiesControllerService":false,"sensitive":false,"dynamic":true},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"exec.id":{"name":"exec.id","displayName":"exec.id","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898","name":"PutFile","comments":"","position":{"x":88.79749027309185,"y":607.0644410620471},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/conf/scripts/output/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b730528f-0e36-3228-b8fc-6658badcf6f9","instanceIdentifier":"a7d89ab2-5ff7-33b5-ab57-0201e1708398","name":"PutFile","comments":"","position":{"x":2616.0,"y":1952.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi/nifi-current/conf/output/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f","name":"ExecuteScript","comments":"","position":{"x":928.0,"y":1816.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import time\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom java.nio.charset import StandardCharsets\n\ntime.sleep(120)  # wait 2 minutes\n\nexec_id = flowFile.getAttribute(\"exec.id\")\n\n# Check DistributedMapCache for completion flag\ncache = context.getProperty(\"Map Cache\").asControllerService(org.apache.nifi.distributed.cache.client.DistributedMapCacheClient)\ncompleted = cache.get(exec_id.encode(\"utf-8\"))\n\nif completed is None:\n    # Still running  route to PutEmail\n    flowFile = session.putAttribute(flowFile, \"alert\", \"ExecuteStreamCommand still running after 2 minutes\")\n    session.transfer(flowFile, REL_SUCCESS)\nelse:\n    # Already completed  drop or route to success\n    session.remove(flowFile)","match.found":"true","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"match.found":{"name":"match.found","displayName":"match.found","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1","name":"ExecuteScript","comments":"","position":{"x":120.79749027309185,"y":1255.064441062047},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\n\ndef flowFiles = session.get(100)\nif (!flowFiles || flowFiles.isEmpty()) return\n\ndef errorMap = [:].withDefault { [] }\ndef idealLogs = []\n\nflowFiles.each { flowFile ->\n    def text = ''\n    session.read(flowFile, { inputStream ->\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    } as InputStreamCallback)\n\n    def lines = text.readLines()\n    lines.each { line ->\n        if (line.toLowerCase().contains(\"error\")) {\n            errorMap[line] += flowFile.getAttribute('filename')\n        } else {\n            idealLogs << [line: line, source: flowFile.getAttribute('filename')]\n        }\n    }\n}\n\n// Create merged error log if multiple FlowFiles have same error\ndef mergedErrorLines = errorMap.findAll { k, v -> v.size() > 1 }.keySet()\nif (!mergedErrorLines.isEmpty()) {\n    def content = mergedErrorLines.join('\\n')\n    def mergedFlowFile = session.create()\n    mergedFlowFile = session.write(mergedFlowFile, { out ->\n        out.write(content.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n    mergedFlowFile = session.putAttribute(mergedFlowFile, \"filename\", \"merged-matching-errors.log\")\n    session.transfer(mergedFlowFile, REL_SUCCESS)\n}\n\n// Send ideal logs if any\nif (!idealLogs.isEmpty()) {\n    def content = idealLogs.collect { it.line }.join('\\n')\n    def idealFlowFile = session.create()\n    idealFlowFile = session.write(idealFlowFile, { out ->\n        out.write(content.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n    idealFlowFile = session.putAttribute(idealFlowFile, \"filename\", \"ideal-logs.log\")\n    session.transfer(idealFlowFile, REL_SUCCESS)\n}\n\n//  Remove original spark-log FlowFiles\nflowFiles.each { session.remove(it) }","match.found":"true","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"match.found":{"name":"match.found","displayName":"match.found","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fa104c19-4632-3688-8cf3-ed26cdd4ff96","instanceIdentifier":"955522cb-e456-3f9c-9518-a9765677130d","name":"","source":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"destination":{"id":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0"},"labelIndex":0,"zIndex":31,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b4b0563a-bcfc-32ac-a323-3a607c4fbe12","instanceIdentifier":"bc6491ce-9f25-336c-978d-3f40fd38491e","name":"","source":{"id":"80e9c5e6-c08c-3b10-9efe-fe64c2ed1688","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GetFile","comments":"","instanceIdentifier":"dd7a9973-6a95-379e-9aa9-2587c8e65d6a"},"destination":{"id":"f64bd2b2-9344-341e-a541-8381d5f706a7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"452a03ee-df77-3f3a-b917-8bb6e0a6cf5b","instanceIdentifier":"19aae424-d1fd-337e-a97d-0d64cbcb83d8","name":"","source":{"id":"fbe2712d-b34d-306a-9108-53b708eff4d4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GenerateFlowFile","comments":"","instanceIdentifier":"cef6b749-d52b-3c3c-bc59-e355694f9d60"},"destination":{"id":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"242e7089-7b1b-33f6-a80a-2827fb1e9d41","instanceIdentifier":"2731844f-ec47-3e82-96c3-7eb8d5ea6501","name":"","source":{"id":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9"},"destination":{"id":"0be17a7b-1047-321d-b323-57d1c4c4648e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"RouteOnAttribute","comments":"","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"91e027a9-ba62-3963-ad4c-a1dc9a8da1ca","instanceIdentifier":"11d446ce-f8f7-331f-ba05-8658736471c2","name":"","source":{"id":"d13dff78-0d1b-3b56-ad01-d4377506bea6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a"},"destination":{"id":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"3524ca28-eea2-3ecb-92fa-95e955b6fb6f","instanceIdentifier":"132d2e81-703f-363f-acb8-dee0cce71976","name":"","source":{"id":"efe27263-7cb0-3d0e-adf7-61a2d830012e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ListFile","comments":"","instanceIdentifier":"919fb75b-16fe-3640-a20a-0e8a27e3ad96"},"destination":{"id":"aafe2332-241e-3dc4-abee-7bcd3907b7db","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"FetchFile","comments":"","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"8d12c64f-aa63-37cb-98fc-38a2322bf8f6","instanceIdentifier":"f5031fc7-0197-1000-0000-000074e0cf6b","name":"","source":{"id":"b3093353-ec8f-3805-a346-dd1f72c31c60","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs","comments":"","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276"},"destination":{"id":"59e83188-8452-3e22-a743-138a489efacc","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Error-Capture","comments":"","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5"},"labelIndex":0,"zIndex":39,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"3e5d248b-e866-32fb-81ab-02c871e85881","instanceIdentifier":"8b0c1f65-6956-3f67-b925-8a40f5232902","name":"","source":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"destination":{"id":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"InvokeHTTP","comments":"","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"7789a404-29e7-3169-a75c-9cab1d6c9be0","instanceIdentifier":"f5033cf6-0197-1000-0000-00001bdddb1c","name":"","source":{"id":"59e83188-8452-3e22-a743-138a489efacc","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Error-Capture","comments":"","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5"},"destination":{"id":"476d5c73-a3ef-3c3e-8806-ab74a8f0929b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Email-Notification","comments":"","instanceIdentifier":"eee771dd-0197-1000-0000-00002f5ac984"},"labelIndex":0,"zIndex":40,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"039f9574-8aa8-36b1-8798-b12b5b20dbf7","instanceIdentifier":"6e2361fe-fc6d-3b0b-a18d-84553eb34cf7","name":"","source":{"id":"f6f8859d-4205-3ae6-b63c-6ae6894d5bf4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ca87c79d-aab2-335d-a943-391f3d9c3bbc"},"destination":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"01b32894-0889-37e8-b720-1a0c8700d770","instanceIdentifier":"17878898-88c7-32aa-a30c-dd399a83bc29","name":"","source":{"id":"df148453-07ae-3d84-978c-b0cd85c48a92","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"f79f971f-678c-305f-8057-ead8ba03e868"},"destination":{"id":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6f725e59-9dec-3358-9058-e8f61d8f97c6","instanceIdentifier":"69782092-786d-364b-8c8c-0181991c6c01","name":"","source":{"id":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f"},"destination":{"id":"28252299-6aeb-3f78-b86d-13849c0665e3","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"79afd00e-50aa-3aa6-99f0-d53c4e715e87"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"651fb6bc-2921-3a10-bf8d-1c54789c83f0","instanceIdentifier":"cf0f367f-cac4-3956-833b-cb2a4527c7e7","name":"","source":{"id":"f64bd2b2-9344-341e-a541-8381d5f706a7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6"},"destination":{"id":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"0564309e-85d0-3ec3-bdf9-8d82fdd8dff0","instanceIdentifier":"8b974f6e-17fd-3250-b5d3-193c2697d1ec","name":"","source":{"id":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1"},"destination":{"id":"56a6d2ea-5c92-3259-8670-3a42b82400e6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"0bd398fd-dfbb-3a27-92fe-3b1969067001"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"9dc5c76f-8b5f-3013-b367-3c6cc9025ee5","instanceIdentifier":"f49a9ead-0197-1000-ffff-ffffbdd89165","name":"","source":{"id":"bc18ed32-6897-3d90-b856-9b3f1ebbe97b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Scheduling-WorkFlow","comments":"","instanceIdentifier":"eee57a37-0197-1000-0000-00006fece9cb"},"destination":{"id":"b3093353-ec8f-3805-a346-dd1f72c31c60","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs","comments":"","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"d7fbcff8-8d0d-37c7-ae73-862dd42f4e8f","instanceIdentifier":"3864104d-e4df-39e2-b4bb-7d5a61fd991a","name":"","source":{"id":"0be17a7b-1047-321d-b323-57d1c4c4648e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"RouteOnAttribute","comments":"","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa"},"destination":{"id":"075485da-a41a-390e-a69c-1b7fed7678ca","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"6a48dec4-15c0-37d8-b725-d515c4de42c2"},"labelIndex":0,"zIndex":22,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6fa386cf-7e2e-3339-8007-7e3cd60fee8a","instanceIdentifier":"a289fba9-8118-30ea-817c-dbcadcb9e12b","name":"","source":{"id":"aafe2332-241e-3dc4-abee-7bcd3907b7db","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"FetchFile","comments":"","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46"},"destination":{"id":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success","failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"a499de80-4a00-33e4-bcb5-3970610fd43b","instanceIdentifier":"2ed78b7b-a042-3803-9969-cca6d57a49bc","name":"","source":{"id":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0"},"destination":{"id":"b730528f-0e36-3228-b8fc-6658badcf6f9","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"a7d89ab2-5ff7-33b5-ab57-0201e1708398"},"labelIndex":0,"zIndex":34,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"beaab8db-3ce2-3481-abb4-94432854aa3b","instanceIdentifier":"59522953-d26a-36b1-9471-378fc3170f47","name":"","source":{"id":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"InvokeHTTP","comments":"","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e"},"destination":{"id":"e091cf6d-9c71-3a26-b8fd-3e32336ee113","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"e826b340-3690-3d3b-8728-9925834926b5"},"labelIndex":0,"zIndex":33,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"beade027-766d-3f5d-aea1-c1ae81f12d3f","instanceIdentifier":"f4f61f70-0197-1000-ffff-ffffa52f5fe9","name":"","source":{"id":"c457ebd1-01de-3abb-8ad2-4204452e8be3","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Monitoring-Info","comments":"","instanceIdentifier":"f4f50a70-0197-1000-ffff-ffffe078de44"},"destination":{"id":"80d44291-ad41-3046-af3a-64ec049d3b39","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Email-Notification","comments":"","instanceIdentifier":"f4f5fafd-0197-1000-0000-00006d635727"},"labelIndex":0,"zIndex":38,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"164959dd-0ad3-3921-bb83-08c1a93fac28","instanceIdentifier":"a09b27d7-6dc0-3f76-b9a6-6b5cb85b2abb","name":"","source":{"id":"6bb056ec-9490-343c-ba9d-9bc143a73c5b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GetFile","comments":"","instanceIdentifier":"0626d87d-d58a-39a7-ae70-b369b46a17b2"},"destination":{"id":"d13dff78-0d1b-3b56-ad01-d4377506bea6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"91168d18-0706-3778-ac3f-eab20c137514","instanceIdentifier":"b45b8608-1a82-3040-af19-569dd9344652","name":"SimpleRedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.SimpleRedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"redis-connection-pool":null,"redis-cache-ttl":"0 secs"},"propertyDescriptors":{"redis-connection-pool":{"name":"redis-connection-pool","displayName":"Redis Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"redis-cache-ttl":{"name":"redis-cache-ttl","displayName":"TTL","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}