default/flow.json
{"encodingVersion":{"majorVersion":2,"minorVersion":0},"maxTimerDrivenThreadCount":10,"registries":[{"identifier":"eec3ec9a-0197-1000-ffff-ffff8947559e","instanceIdentifier":"eec3ec9a-0197-1000-ffff-ffff8947559e","name":"NifiRegistryFlowRegistryClient","type":"org.apache.nifi.registry.flow.NifiRegistryFlowRegistryClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-flow-registry-client-nar","version":"2.4.0"},"properties":{"url":"http://192.168.2.184:18080/nifi-registry"},"propertyDescriptors":{},"componentType":"FLOW_REGISTRY_CLIENT"},{"identifier":"5fab31bd-0198-1000-ffff-ffffaa1aff37","instanceIdentifier":"5fab31bd-0198-1000-ffff-ffffaa1aff37","name":"BitbucketFlowRegistryClient","type":"org.apache.nifi.atlassian.bitbucket.BitbucketFlowRegistryClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-atlassian-nar","version":"2.4.0"},"properties":{"Bitbucket API Version":"2.0","Access Token":"enc{de324bf54acbc2a34a59a3a1bf2da5b9df129aafa410191757d60e1a4ac8829a0b4474da68675243fced86f2b36cc9794f39fd8d001cac3ec66cc9abb52b2a757e5ee84c318e9ea4b781d4ac7a852f7e9c932af069957b80d8d754aa4a01fcd5450f55049b140ec1e264e261518c3d83b0ec2777ccb502518c9cbcd56d49258388e830579899b2a54956c44da23fadaa1281a553dcfa02335f50c117378f2f9ae9084fd512e29e9501c894cc8bf19a200e8d789e59da4dc9bfc75cf948ca98240235fccfcacb4c794e55206702831722b6b010d73c6d36ea50f1b93bbe7104c3}","Bitbucket API Instance":"api.bitbucket.org","Repository Name":"workflow","Directory Filter Exclusion":"[.].*","Web Client Service":"5fac2bca-0198-1000-ffff-ffff87c1c49f","Workspace Name":"uec15217","Authentication Type":"ACCESS_TOKEN","Default Branch":"main"},"propertyDescriptors":{},"componentType":"FLOW_REGISTRY_CLIENT"},{"identifier":"c1b74e32-0198-1000-ffff-ffff883df732","instanceIdentifier":"c1b74e32-0198-1000-ffff-ffff883df732","name":"GitHubFlowRegistryClient","type":"org.apache.nifi.github.GitHubFlowRegistryClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-github-nar","version":"2.4.0"},"properties":{"Personal Access Token":"enc{a3c047f5d5334e0a6d67f8d6633651e9aceec9bb7f9384288119d1f691d5a0a9287521941afbac9f906a9a736260a8d043e31374f7e302b069b2833db13f35fbde6c55ea95b11bd6}","Repository Owner":"chandra9885230775","Repository Name":"test","GitHub API URL":"https://api.github.com/","Authentication Type":"PERSONAL_ACCESS_TOKEN","Directory Filter Exclusion":"[.].*","Default Branch":"master"},"propertyDescriptors":{},"componentType":"FLOW_REGISTRY_CLIENT"}],"parameterContexts":[],"parameterProviders":[],"controllerServices":[{"identifier":"db56f093-18e2-3d3d-8122-ab73055f513c","instanceIdentifier":"5fac2bca-0198-1000-ffff-ffff87c1c49f","name":"StandardWebClientServiceProvider","comments":"","type":"org.apache.nifi.web.client.provider.service.StandardWebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-web-client-provider-service-nar","version":"2.4.0"},"properties":{"Connect Timeout":"10 secs","Write Timeout":"10 secs","Redirect Handling Strategy":"FOLLOWED","Read Timeout":"10 secs"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.web.client.provider.api.WebClientServiceProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"ENABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE"}],"reportingTasks":[],"flowAnalysisRules":[],"rootGroup":{"identifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b","instanceIdentifier":"a2299ea1-0197-1000-963e-6218ef998765","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[{"identifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","instanceIdentifier":"a236403b-0197-1000-ffff-ffffdf4015a2","name":"Parallel-Workflow-Kafka","comments":"","position":{"x":520.0,"y":-56.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a9490680-4a5d-3b44-afff-c645c81fadb5","instanceIdentifier":"be309ded-ae13-33e1-a612-f2fbb62450ca","name":"Nifi-Status-Email-Notification","comments":"","position":{"x":1280.0,"y":88.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"NIFI-STATUS ERROR NOTIFICATION","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,kumarsrinivas.katta@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"c1e5c3ef-5084-3c80-a847-ec855d4f0aea","instanceIdentifier":"92b2d11b-348c-3f4d-985c-32e9d1189982","name":"Nifi-Status-Output","comments":"","position":{"x":632.0,"y":88.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*down.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"88483a09-ec48-3463-9ee6-2421d8bc423f","instanceIdentifier":"298bee05-96a4-3c61-abc2-cf1cf4147b1f","name":"Scheduling-Workflow","comments":"","position":{"x":-24.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"3 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"84fbd725-97f9-39a6-b29a-5b912cc4dc24","instanceIdentifier":"969b25e6-607c-3be0-a354-b17a043a50a2","name":"Kafka-Structured-Email-Notification","comments":"","position":{"x":-352.0,"y":984.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"KAFKA-STRUCTURED ERROR NOTIFICATION","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,hemanth.burra@cox.com,kavya.chakala@cox.com,saikrupani.maddikunta@cox.com,lalithreddy.gangi@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"8ef6f4f1-4e07-3d5d-9d73-3c0eeed3399a","instanceIdentifier":"6cefb443-6d7d-33de-86f5-6b9af30330d8","name":"Kafka-Soak-Output","comments":"","position":{"x":400.0,"y":688.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"f7a2a622-385a-3e78-9a73-1a2f361d2e7b","instanceIdentifier":"3e54c3d0-703b-3976-bccd-a65dfbea4655","name":"Kafka-Structured-Output","comments":"","position":{"x":-352.0,"y":688.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"253a5f04-bf63-38a6-a279-9924ea964dd3","instanceIdentifier":"7edf881f-ce06-3bb1-9425-f321b5f4ffe2","name":"Nifi-Status-Check","comments":"","position":{"x":-24.0,"y":88.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/check_status.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"f98be85d-be4c-37f7-8bda-c29ed4fab0c0","instanceIdentifier":"f4016e06-46ab-36cb-a991-460180444faf","name":"Kafka-Soak-Email-Notification","comments":"","position":{"x":400.0,"y":984.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"KAFKA-SOAK ERROR NOTIFICATION","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,hemanth.burra@cox.com,kavya.chakala@cox.com,saikrupani.maddikunta@cox.com,lalithreddy.gangi@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"87ebb91f-9261-37ab-aa9a-cf5bd488a751","instanceIdentifier":"4005f46e-0673-318b-9c51-29adc5425039","name":"Kafka-Structured","comments":"","position":{"x":-352.0,"y":416.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/kafka-structured.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"7836e93b-1648-3347-97b3-154c19b76a40","instanceIdentifier":"323c7d7b-6dfa-3459-9ec5-b874cf5f5b34","name":"Kafka-Soak","comments":"","position":{"x":400.0,"y":416.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/kafka-soak.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"909f2786-ca1b-332d-b950-a4cd991168c0","instanceIdentifier":"4bca1020-ad9e-340b-9d8f-4975206ef85e","name":"","source":{"id":"253a5f04-bf63-38a6-a279-9924ea964dd3","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"7edf881f-ce06-3bb1-9425-f321b5f4ffe2"},"destination":{"id":"87ebb91f-9261-37ab-aa9a-cf5bd488a751","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Structured","comments":"","instanceIdentifier":"4005f46e-0673-318b-9c51-29adc5425039"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"bf5e2c2d-39ea-3536-8669-062c65420ebd","instanceIdentifier":"13e6fe38-b281-37e8-9c26-b2e27a68167b","name":"","source":{"id":"f7a2a622-385a-3e78-9a73-1a2f361d2e7b","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Structured-Output","comments":"","instanceIdentifier":"3e54c3d0-703b-3976-bccd-a65dfbea4655"},"destination":{"id":"84fbd725-97f9-39a6-b29a-5b912cc4dc24","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Structured-Email-Notification","comments":"","instanceIdentifier":"969b25e6-607c-3be0-a354-b17a043a50a2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"8c56ddab-2a9e-3ac0-b187-c4ea3ba121f5","instanceIdentifier":"96a9875a-1829-3177-90e5-4855631953b3","name":"","source":{"id":"7836e93b-1648-3347-97b3-154c19b76a40","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Soak","comments":"","instanceIdentifier":"323c7d7b-6dfa-3459-9ec5-b874cf5f5b34"},"destination":{"id":"8ef6f4f1-4e07-3d5d-9d73-3c0eeed3399a","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Soak-Output","comments":"","instanceIdentifier":"6cefb443-6d7d-33de-86f5-6b9af30330d8"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"34147f59-9124-3df7-96ec-34f1605e92a3","instanceIdentifier":"048f753a-3133-3557-93d2-be9207d74c22","name":"","source":{"id":"8ef6f4f1-4e07-3d5d-9d73-3c0eeed3399a","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Soak-Output","comments":"","instanceIdentifier":"6cefb443-6d7d-33de-86f5-6b9af30330d8"},"destination":{"id":"f98be85d-be4c-37f7-8bda-c29ed4fab0c0","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Soak-Email-Notification","comments":"","instanceIdentifier":"f4016e06-46ab-36cb-a991-460180444faf"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"914bd18a-5dc2-3023-abe6-e63c0b843994","instanceIdentifier":"4cbc897a-a978-3d67-84e5-d3a8893e6e11","name":"","source":{"id":"c1e5c3ef-5084-3c80-a847-ec855d4f0aea","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Output","comments":"","instanceIdentifier":"92b2d11b-348c-3f4d-985c-32e9d1189982"},"destination":{"id":"a9490680-4a5d-3b44-afff-c645c81fadb5","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Email-Notification","comments":"","instanceIdentifier":"be309ded-ae13-33e1-a612-f2fbb62450ca"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"eb178c0a-da99-311f-a4b4-89481907e783","instanceIdentifier":"afe03bc7-4f69-32f5-b0ae-62328a965a36","name":"","source":{"id":"253a5f04-bf63-38a6-a279-9924ea964dd3","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"7edf881f-ce06-3bb1-9425-f321b5f4ffe2"},"destination":{"id":"c1e5c3ef-5084-3c80-a847-ec855d4f0aea","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Output","comments":"","instanceIdentifier":"92b2d11b-348c-3f4d-985c-32e9d1189982"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"d97e9474-6e08-38d6-af14-ca156e0c8984","instanceIdentifier":"0bc32b64-acbd-3779-ab80-4674ad1fc1b9","name":"","source":{"id":"87ebb91f-9261-37ab-aa9a-cf5bd488a751","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Structured","comments":"","instanceIdentifier":"4005f46e-0673-318b-9c51-29adc5425039"},"destination":{"id":"f7a2a622-385a-3e78-9a73-1a2f361d2e7b","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Structured-Output","comments":"","instanceIdentifier":"3e54c3d0-703b-3976-bccd-a65dfbea4655"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"03447d08-8c76-3671-9e64-adf4409d9597","instanceIdentifier":"92172bca-1630-3afa-af6f-39669f30cb70","name":"","source":{"id":"88483a09-ec48-3463-9ee6-2421d8bc423f","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Scheduling-Workflow","comments":"","instanceIdentifier":"298bee05-96a4-3c61-abc2-cf1cf4147b1f"},"destination":{"id":"253a5f04-bf63-38a6-a279-9924ea964dd3","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"7edf881f-ce06-3bb1-9425-f321b5f4ffe2"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"},{"identifier":"e3491a65-26fb-39ab-bfbf-684395bef081","instanceIdentifier":"f23882c5-db6a-366c-83c5-b504f8b136c4","name":"","source":{"id":"253a5f04-bf63-38a6-a279-9924ea964dd3","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"7edf881f-ce06-3bb1-9425-f321b5f4ffe2"},"destination":{"id":"7836e93b-1648-3347-97b3-154c19b76a40","type":"PROCESSOR","groupId":"ddaeff19-891e-3e66-9e0d-8deea1bf671a","name":"Kafka-Soak","comments":"","instanceIdentifier":"323c7d7b-6dfa-3459-9ec5-b874cf5f5b34"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ddaeff19-891e-3e66-9e0d-8deea1bf671a"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b"},{"identifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","instanceIdentifier":"eec61a4e-0197-1000-0000-000065272b6e","name":"demo","comments":"","position":{"x":528.0,"y":200.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"59e83188-8452-3e22-a743-138a489efacc","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5","name":"Error-Capture","comments":"","position":{"x":4864.0,"y":2088.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"df148453-07ae-3d84-978c-b0cd85c48a92","instanceIdentifier":"f79f971f-678c-305f-8057-ead8ba03e868","name":"PutDistributedMapCache","comments":"","position":{"x":928.0,"y":1576.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Cache update strategy":"replace","Max cache entry size":"1 MB","value":"done","key":"exec.id"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"aafe2332-241e-3dc4-abee-7bcd3907b7db","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46","name":"FetchFile","comments":"","position":{"x":128.79749027309185,"y":991.0644410620471},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"476d5c73-a3ef-3c3e-8806-ab74a8f0929b","instanceIdentifier":"eee771dd-0197-1000-0000-00002f5ac984","name":"Spark-Jobs-Email-Notification","comments":"","position":{"x":4859.01953125,"y":2359.99169921875},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"ckonakalla@softility.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"ckonakalla@softility.com","To":"ckonakalla@softility.com,lgangi@softility.com","SMTP Password":"enc{e029185fa832609e590ca86fdb7b4d31155c1bf8ac00fe19b66d0f465129e19a2e3c109f77608c9c14d524c74cbd42de}","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"bc18ed32-6897-3d90-b856-9b3f1ebbe97b","instanceIdentifier":"eee57a37-0197-1000-0000-00006fece9cb","name":"Scheduling-WorkFlow","comments":"","position":{"x":4856.0,"y":1472.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"2 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"69dbe3c0-462f-3236-91ee-357349f7129f","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476","name":"UpdateAttribute","comments":"","position":{"x":2304.0,"y":1464.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","uuid":"${UUID()}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"f6f8859d-4205-3ae6-b63c-6ae6894d5bf4","instanceIdentifier":"ca87c79d-aab2-335d-a943-391f3d9c3bbc","name":"GenerateFlowFile","comments":"","position":{"x":2296.0,"y":1200.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e","name":"InvokeHTTP","comments":"","position":{"x":2024.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://192.168.2.112:8443/nifi-api/processors/${uuid}/status","Request OAuth2 Access Token Provider":"d059c446-0197-1000-de6f-23a30121041a","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","Response Generation Required":"false","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":"nifi","Request Content-Type":"${mime.type}","Response Body Attribute Name":"invokehttp.response.body","Request Digest Authentication Enabled":"false","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b3093353-ec8f-3805-a346-dd1f72c31c60","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276","name":"Spark-Jobs","comments":"","position":{"x":4859.01953125,"y":1807.99169921875},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/status.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"d13dff78-0d1b-3b56-ad01-d4377506bea6","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a","name":"UpdateAttribute","comments":"","position":{"x":-455.20250972690815,"y":407.0644410620471},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"filename":"spark-log-${now():format(\"yyyyMMddHHmmss\")}.log","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"075485da-a41a-390e-a69c-1b7fed7678ca","instanceIdentifier":"6a48dec4-15c0-37d8-b725-d515c4de42c2","name":"ExecuteStreamCommand","comments":"","position":{"x":1552.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Argument Delimiter":";","Ignore STDIN":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"80e9c5e6-c08c-3b10-9efe-fe64c2ed1688","instanceIdentifier":"dd7a9973-6a95-379e-9aa9-2587c8e65d6a","name":"GetFile","comments":"","position":{"x":616.7974902730919,"y":151.06444106204708},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts","Batch Size":"10","Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"data.txt"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"5 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"0be17a7b-1047-321d-b323-57d1c4c4648e","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa","name":"RouteOnAttribute","comments":"","position":{"x":928.0,"y":1320.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"c457ebd1-01de-3abb-8ad2-4204452e8be3","instanceIdentifier":"f4f50a70-0197-1000-ffff-ffffe078de44","name":"Spark-Jobs-Monitoring-Info","comments":"","position":{"x":4288.0,"y":1824.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts/output/","Batch Size":"10","Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"e091cf6d-9c71-3a26-b8fd-3e32336ee113","instanceIdentifier":"e826b340-3690-3d3b-8728-9925834926b5","name":"PutEmail","comments":"","position":{"x":2032.0,"y":1928.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"56a6d2ea-5c92-3259-8670-3a42b82400e6","instanceIdentifier":"0bd398fd-dfbb-3a27-92fe-3b1969067001","name":"PutEmail","comments":"","position":{"x":120.79749027309185,"y":1535.064441062047},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"f64bd2b2-9344-341e-a541-8381d5f706a7","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6","name":"UpdateAttribute","comments":"","position":{"x":616.7974902730919,"y":399.0644410620471},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"filename":"spark-log-${now():format(\"yyyyMMddHHmmss\")}.log","Store State":"Do not store state","canonical-value-lookup-cache-size":"100"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"2 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"efe27263-7cb0-3d0e-adf7-61a2d830012e","instanceIdentifier":"919fb75b-16fe-3640-a20a-0e8a27e3ad96","name":"ListFile","comments":"","position":{"x":128.79749027309185,"y":767.0644410620471},"type":"org.apache.nifi.processors.standard.ListFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":"10 min","max-listing-time":"3 mins","et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"spark-log-.*\\.log","Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/opt/nifi/nifi-current/conf/scripts/output/","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","max-operation-time":"10 secs"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9","name":"UpdateAttribute","comments":"","position":{"x":928.0,"y":1096.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"start.time":"${now():toNumber()}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","exec.id":"${UUID()}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0","name":"ExecuteStreamCommand","comments":"","position":{"x":2616.0,"y":1696.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/status.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"28252299-6aeb-3f78-b86d-13849c0665e3","instanceIdentifier":"79afd00e-50aa-3aa6-99f0-d53c4e715e87","name":"PutEmail","comments":"","position":{"x":928.0,"y":2088.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"80d44291-ad41-3046-af3a-64ec049d3b39","instanceIdentifier":"f4f5fafd-0197-1000-0000-00006d635727","name":"Spark-Jobs-Email-Notification","comments":"","position":{"x":4288.0,"y":2120.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"ckonakalla@softility.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.gmail.com","Subject":"Message from NiFi - Spark Jobs Exceeds Runtime","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"ckonakalla@softility.com","To":"ckonakalla@softility.com,lgangi@softility.com","SMTP Password":"enc{d0cc16bfe32dac59ccf83ca03dd9107fda1a37fe69274e7fdfac235449c289e3b9da3c9f0cbd7c652998a90c3e864dd5}","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6bb056ec-9490-343c-ba9d-9bc143a73c5b","instanceIdentifier":"0626d87d-d58a-39a7-ae70-b369b46a17b2","name":"GetFile","comments":"","position":{"x":-455.20250972690815,"y":159.06444106204708},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"/opt/nifi/nifi-current/conf/scripts","Batch Size":"10","Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"data2.txt"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"6 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"fbe2712d-b34d-306a-9108-53b708eff4d4","instanceIdentifier":"cef6b749-d52b-3c3c-bc59-e355694f9d60","name":"GenerateFlowFile","comments":"","position":{"x":936.0,"y":856.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","start.time":"${now():toNumber()}","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text","exec.id":"${UUID()}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898","name":"PutFile","comments":"","position":{"x":88.79749027309185,"y":607.0644410620471},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Create Missing Directories":"true","Directory":"/opt/nifi/nifi-current/conf/scripts/output/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b730528f-0e36-3228-b8fc-6658badcf6f9","instanceIdentifier":"a7d89ab2-5ff7-33b5-ab57-0201e1708398","name":"PutFile","comments":"","position":{"x":2616.0,"y":1952.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Create Missing Directories":"true","Directory":"/opt/nifi/nifi-current/conf/output/","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f","name":"ExecuteScript","comments":"","position":{"x":928.0,"y":1816.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script Engine":"Groovy","Script Body":"import time\nfrom org.apache.nifi.processor.io import StreamCallback\nfrom java.nio.charset import StandardCharsets\n\ntime.sleep(120)  # wait 2 minutes\n\nexec_id = flowFile.getAttribute(\"exec.id\")\n\n# Check DistributedMapCache for completion flag\ncache = context.getProperty(\"Map Cache\").asControllerService(org.apache.nifi.distributed.cache.client.DistributedMapCacheClient)\ncompleted = cache.get(exec_id.encode(\"utf-8\"))\n\nif completed is None:\n    # Still running  route to PutEmail\n    flowFile = session.putAttribute(flowFile, \"alert\", \"ExecuteStreamCommand still running after 2 minutes\")\n    session.transfer(flowFile, REL_SUCCESS)\nelse:\n    # Already completed  drop or route to success\n    session.remove(flowFile)","match.found":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1","name":"ExecuteScript","comments":"","position":{"x":120.79749027309185,"y":1255.064441062047},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.4.0"},"properties":{"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\n\ndef flowFiles = session.get(100)\nif (!flowFiles || flowFiles.isEmpty()) return\n\ndef errorMap = [:].withDefault { [] }\ndef idealLogs = []\n\nflowFiles.each { flowFile ->\n    def text = ''\n    session.read(flowFile, { inputStream ->\n        text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n    } as InputStreamCallback)\n\n    def lines = text.readLines()\n    lines.each { line ->\n        if (line.toLowerCase().contains(\"error\")) {\n            errorMap[line] += flowFile.getAttribute('filename')\n        } else {\n            idealLogs << [line: line, source: flowFile.getAttribute('filename')]\n        }\n    }\n}\n\n// Create merged error log if multiple FlowFiles have same error\ndef mergedErrorLines = errorMap.findAll { k, v -> v.size() > 1 }.keySet()\nif (!mergedErrorLines.isEmpty()) {\n    def content = mergedErrorLines.join('\\n')\n    def mergedFlowFile = session.create()\n    mergedFlowFile = session.write(mergedFlowFile, { out ->\n        out.write(content.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n    mergedFlowFile = session.putAttribute(mergedFlowFile, \"filename\", \"merged-matching-errors.log\")\n    session.transfer(mergedFlowFile, REL_SUCCESS)\n}\n\n// Send ideal logs if any\nif (!idealLogs.isEmpty()) {\n    def content = idealLogs.collect { it.line }.join('\\n')\n    def idealFlowFile = session.create()\n    idealFlowFile = session.write(idealFlowFile, { out ->\n        out.write(content.getBytes(StandardCharsets.UTF_8))\n    } as OutputStreamCallback)\n    idealFlowFile = session.putAttribute(idealFlowFile, \"filename\", \"ideal-logs.log\")\n    session.transfer(idealFlowFile, REL_SUCCESS)\n}\n\n//  Remove original spark-log FlowFiles\nflowFiles.each { session.remove(it) }","match.found":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fa104c19-4632-3688-8cf3-ed26cdd4ff96","instanceIdentifier":"955522cb-e456-3f9c-9518-a9765677130d","name":"","source":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"destination":{"id":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0"},"labelIndex":0,"zIndex":31,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"b4b0563a-bcfc-32ac-a323-3a607c4fbe12","instanceIdentifier":"bc6491ce-9f25-336c-978d-3f40fd38491e","name":"","source":{"id":"80e9c5e6-c08c-3b10-9efe-fe64c2ed1688","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GetFile","comments":"","instanceIdentifier":"dd7a9973-6a95-379e-9aa9-2587c8e65d6a"},"destination":{"id":"f64bd2b2-9344-341e-a541-8381d5f706a7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"452a03ee-df77-3f3a-b917-8bb6e0a6cf5b","instanceIdentifier":"19aae424-d1fd-337e-a97d-0d64cbcb83d8","name":"","source":{"id":"fbe2712d-b34d-306a-9108-53b708eff4d4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GenerateFlowFile","comments":"","instanceIdentifier":"cef6b749-d52b-3c3c-bc59-e355694f9d60"},"destination":{"id":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9"},"labelIndex":0,"zIndex":21,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"242e7089-7b1b-33f6-a80a-2827fb1e9d41","instanceIdentifier":"2731844f-ec47-3e82-96c3-7eb8d5ea6501","name":"","source":{"id":"18d4cc7f-76df-32c3-a9f5-e52ed8070cd7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"03d6de29-14f6-3b84-accf-f330bcc628b9"},"destination":{"id":"0be17a7b-1047-321d-b323-57d1c4c4648e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"RouteOnAttribute","comments":"","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"91e027a9-ba62-3963-ad4c-a1dc9a8da1ca","instanceIdentifier":"11d446ce-f8f7-331f-ba05-8658736471c2","name":"","source":{"id":"d13dff78-0d1b-3b56-ad01-d4377506bea6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a"},"destination":{"id":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"3524ca28-eea2-3ecb-92fa-95e955b6fb6f","instanceIdentifier":"132d2e81-703f-363f-acb8-dee0cce71976","name":"","source":{"id":"efe27263-7cb0-3d0e-adf7-61a2d830012e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ListFile","comments":"","instanceIdentifier":"919fb75b-16fe-3640-a20a-0e8a27e3ad96"},"destination":{"id":"aafe2332-241e-3dc4-abee-7bcd3907b7db","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"FetchFile","comments":"","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"8d12c64f-aa63-37cb-98fc-38a2322bf8f6","instanceIdentifier":"f5031fc7-0197-1000-0000-000074e0cf6b","name":"","source":{"id":"b3093353-ec8f-3805-a346-dd1f72c31c60","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs","comments":"","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276"},"destination":{"id":"59e83188-8452-3e22-a743-138a489efacc","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Error-Capture","comments":"","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5"},"labelIndex":0,"zIndex":39,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"3e5d248b-e866-32fb-81ab-02c871e85881","instanceIdentifier":"8b0c1f65-6956-3f67-b925-8a40f5232902","name":"","source":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"destination":{"id":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"InvokeHTTP","comments":"","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e"},"labelIndex":0,"zIndex":30,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"7789a404-29e7-3169-a75c-9cab1d6c9be0","instanceIdentifier":"f5033cf6-0197-1000-0000-00001bdddb1c","name":"","source":{"id":"59e83188-8452-3e22-a743-138a489efacc","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Error-Capture","comments":"","instanceIdentifier":"f502f635-0197-1000-ffff-fffff9d590a5"},"destination":{"id":"476d5c73-a3ef-3c3e-8806-ab74a8f0929b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Email-Notification","comments":"","instanceIdentifier":"eee771dd-0197-1000-0000-00002f5ac984"},"labelIndex":0,"zIndex":40,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"01b32894-0889-37e8-b720-1a0c8700d770","instanceIdentifier":"17878898-88c7-32aa-a30c-dd399a83bc29","name":"","source":{"id":"df148453-07ae-3d84-978c-b0cd85c48a92","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutDistributedMapCache","comments":"","instanceIdentifier":"f79f971f-678c-305f-8057-ead8ba03e868"},"destination":{"id":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f"},"labelIndex":0,"zIndex":19,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6f725e59-9dec-3358-9058-e8f61d8f97c6","instanceIdentifier":"69782092-786d-364b-8c8c-0181991c6c01","name":"","source":{"id":"369b84c1-3f2e-339b-b0fd-05c6ed8b0822","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"b51e0db0-b18b-3394-8414-4ca5d5a1377f"},"destination":{"id":"28252299-6aeb-3f78-b86d-13849c0665e3","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"79afd00e-50aa-3aa6-99f0-d53c4e715e87"},"labelIndex":0,"zIndex":20,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"651fb6bc-2921-3a10-bf8d-1c54789c83f0","instanceIdentifier":"cf0f367f-cac4-3956-833b-cb2a4527c7e7","name":"","source":{"id":"f64bd2b2-9344-341e-a541-8381d5f706a7","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"06a5bde7-1a61-3ae3-8c39-ddd94c4f62d6"},"destination":{"id":"31b0cf5e-38ef-3ad0-8577-d0c0f5229b62","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"d89a082e-ce68-3701-bff3-497e37893898"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"0564309e-85d0-3ec3-bdf9-8d82fdd8dff0","instanceIdentifier":"8b974f6e-17fd-3250-b5d3-193c2697d1ec","name":"","source":{"id":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1"},"destination":{"id":"56a6d2ea-5c92-3259-8670-3a42b82400e6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"0bd398fd-dfbb-3a27-92fe-3b1969067001"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"9dc5c76f-8b5f-3013-b367-3c6cc9025ee5","instanceIdentifier":"f49a9ead-0197-1000-ffff-ffffbdd89165","name":"","source":{"id":"bc18ed32-6897-3d90-b856-9b3f1ebbe97b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Scheduling-WorkFlow","comments":"","instanceIdentifier":"eee57a37-0197-1000-0000-00006fece9cb"},"destination":{"id":"b3093353-ec8f-3805-a346-dd1f72c31c60","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs","comments":"","instanceIdentifier":"f49a6ffc-0197-1000-0000-0000672ab276"},"labelIndex":0,"zIndex":35,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"d7fbcff8-8d0d-37c7-ae73-862dd42f4e8f","instanceIdentifier":"3864104d-e4df-39e2-b4bb-7d5a61fd991a","name":"","source":{"id":"0be17a7b-1047-321d-b323-57d1c4c4648e","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"RouteOnAttribute","comments":"","instanceIdentifier":"54c992a1-2006-39d1-9a21-3bd3584662fa"},"destination":{"id":"075485da-a41a-390e-a69c-1b7fed7678ca","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"6a48dec4-15c0-37d8-b725-d515c4de42c2"},"labelIndex":0,"zIndex":22,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"6fa386cf-7e2e-3339-8007-7e3cd60fee8a","instanceIdentifier":"a289fba9-8118-30ea-817c-dbcadcb9e12b","name":"","source":{"id":"aafe2332-241e-3dc4-abee-7bcd3907b7db","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"FetchFile","comments":"","instanceIdentifier":"f6efe1a9-17a5-3916-8c72-0ae34716db46"},"destination":{"id":"eef32fb5-24a5-3fe7-8053-c1b9bc65e455","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteScript","comments":"","instanceIdentifier":"bfce1d21-18d1-3daf-b871-d205d87c97b1"},"labelIndex":0,"zIndex":16,"selectedRelationships":["success","failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"a499de80-4a00-33e4-bcb5-3970610fd43b","instanceIdentifier":"2ed78b7b-a042-3803-9969-cca6d57a49bc","name":"","source":{"id":"7c986cab-6881-3dc4-a9b3-f020c348dbc4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"10be3e14-7ebc-3366-a461-402ccc0e01e0"},"destination":{"id":"b730528f-0e36-3228-b8fc-6658badcf6f9","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutFile","comments":"","instanceIdentifier":"a7d89ab2-5ff7-33b5-ab57-0201e1708398"},"labelIndex":0,"zIndex":34,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"beaab8db-3ce2-3481-abb4-94432854aa3b","instanceIdentifier":"59522953-d26a-36b1-9471-378fc3170f47","name":"","source":{"id":"ea2a50ad-3cda-3fc4-baca-c6a995f18d56","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"InvokeHTTP","comments":"","instanceIdentifier":"77e6dfc1-0b03-3b43-8d14-583d8a27a19e"},"destination":{"id":"e091cf6d-9c71-3a26-b8fd-3e32336ee113","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"PutEmail","comments":"","instanceIdentifier":"e826b340-3690-3d3b-8728-9925834926b5"},"labelIndex":0,"zIndex":33,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"beade027-766d-3f5d-aea1-c1ae81f12d3f","instanceIdentifier":"f4f61f70-0197-1000-ffff-ffffa52f5fe9","name":"","source":{"id":"c457ebd1-01de-3abb-8ad2-4204452e8be3","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Monitoring-Info","comments":"","instanceIdentifier":"f4f50a70-0197-1000-ffff-ffffe078de44"},"destination":{"id":"80d44291-ad41-3046-af3a-64ec049d3b39","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"Spark-Jobs-Email-Notification","comments":"","instanceIdentifier":"f4f5fafd-0197-1000-0000-00006d635727"},"labelIndex":0,"zIndex":38,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"164959dd-0ad3-3921-bb83-08c1a93fac28","instanceIdentifier":"a09b27d7-6dc0-3f76-b9a6-6b5cb85b2abb","name":"","source":{"id":"6bb056ec-9490-343c-ba9d-9bc143a73c5b","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GetFile","comments":"","instanceIdentifier":"0626d87d-d58a-39a7-ae70-b369b46a17b2"},"destination":{"id":"d13dff78-0d1b-3b56-ad01-d4377506bea6","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"19809c24-6e9a-3623-b806-3813bd59ce6a"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"},{"identifier":"fb46df5e-0ece-383f-ade0-14b88312241c","instanceIdentifier":"6e2361fe-fc6d-3b0b-a18d-84553eb34cf7","name":"","source":{"id":"f6f8859d-4205-3ae6-b63c-6ae6894d5bf4","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"GenerateFlowFile","comments":"","instanceIdentifier":"ca87c79d-aab2-335d-a943-391f3d9c3bbc"},"destination":{"id":"69dbe3c0-462f-3236-91ee-357349f7129f","type":"PROCESSOR","groupId":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169","name":"UpdateAttribute","comments":"","instanceIdentifier":"73417f09-a7e1-36f0-a793-f731ca5f6476"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"91168d18-0706-3778-ac3f-eab20c137514","instanceIdentifier":"b45b8608-1a82-3040-af19-569dd9344652","name":"SimpleRedisDistributedMapCacheClientService","comments":"","type":"org.apache.nifi.redis.service.SimpleRedisDistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-redis-nar","version":"2.4.0"},"properties":{"redis-cache-ttl":"0 secs"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"afa6f2e7-b8cb-3825-8fcf-ec2a45b60169"}],"versionedFlowCoordinates":{"registryId":"5fab31bd-0198-1000-ffff-ffffaa1aff37","branch":"main","bucketId":"default","flowId":"nifi-flow","version":"0bf6ffbe896a6e04add3b888799b5ea69277cd35"},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b"},{"identifier":"13037555-954e-3da0-8f40-f21f726cdd30","instanceIdentifier":"c05c26e7-0197-1000-ffff-ffffd10bb473","name":"demo-1","comments":"","position":{"x":-29.940659425395154,"y":193.87896774747753},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3d91cca5-7659-395e-b136-acc13143bc96","instanceIdentifier":"2caa9cd6-0198-1000-ffff-ffffe1418cb3","name":"PutEmail","comments":"","position":{"x":2784.0,"y":360.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"19ff983a-e09b-3136-b35b-2d218b4d95b9","instanceIdentifier":"d05cc18f-0197-1000-0000-00005f26b271","name":"GenerateFlowFile","comments":"","position":{"x":-320.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"94d70f50-3993-3bf7-9da9-7f6580e0f2d2","instanceIdentifier":"2c659229-0198-1000-ffff-ffffe1f37575","name":"ExecuteStreamCommand","comments":"","position":{"x":1440.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/old-status.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"850c71f5-bc5d-30dc-8760-88cec9c460c1","instanceIdentifier":"2c65ebec-0198-1000-ffff-ffffe71553d1","name":"MonitorActivity","comments":"","position":{"x":1440.0,"y":656.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Continually Send Messages":"false","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"cluster","Threshold Duration":"30 sec","Wait for Activity":"false","Reset State on Restart":"true","Reporting Node":"primary"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","activity.restored"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"f5d59231-38a5-3e44-be58-ed1b94226c61","instanceIdentifier":"d05faa01-0197-1000-ffff-ffffef65a086","name":"UpdateAttribute","comments":"","position":{"x":-320.0,"y":-40.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","uuid":"${uuid}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"8425f745-7836-38e4-aa49-8db22181aa51","instanceIdentifier":"d098ab80-0197-1000-ffff-ffffd437b013","name":"PutEmail","comments":"","position":{"x":72.0,"y":504.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"52c9e2d7-c29c-3046-b5b3-c5db7ef0ac11","instanceIdentifier":"d061d68c-0197-1000-0000-0000397ccafe","name":"ExecuteStreamCommand","comments":"","position":{"x":72.0,"y":232.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/usr/bin/python3","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/hello.py"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"71307847-714a-3b20-a7a5-ed33e2b696be","instanceIdentifier":"2c66b070-0198-1000-0000-0000538908a3","name":"PutEmail","comments":"","position":{"x":1448.0,"y":1000.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"0d7a50ce-6e00-3cf4-8aab-b3484a6e0eec","instanceIdentifier":"2c655f17-0198-1000-ffff-ffff9c893702","name":"GenerateFlowFile","comments":"","position":{"x":1448.3834517634225,"y":16.005031303301365},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"5b5261c8-b9bc-39f7-ad56-907e2eb58d7c","instanceIdentifier":"d09daa3f-0197-1000-ffff-ffffb51d53df","name":"RouteOnAttribute","comments":"","position":{"x":-624.0,"y":728.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Routing Strategy":"Route to Property name","long_running":"${thread_count:gt(0):and(${avg_duration_ns:gt(120000000000)})}"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"0e50dfab-55a4-3c57-882f-3928a2521f0a","instanceIdentifier":"d09ea74a-0197-1000-ffff-ffff84b073ac","name":"PutEmail","comments":"","position":{"x":-624.0,"y":992.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"25","SMTP Auth":"true","Include All Attributes In Message":"false","Subject":"Message from NiFi","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","email-ff-content-as-message":"false","authorization-mode":"password-based-authorization-mode","SMTP TLS":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"32f55179-8bb5-30eb-8480-c1c7c56593bb","instanceIdentifier":"2cbd89b7-0198-1000-0000-000035a72c38","name":"MonitorActivity","comments":"","position":{"x":3080.0,"y":1272.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Continually Send Messages":"false","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"node","Threshold Duration":"30 sec","Wait for Activity":"false","Reset State on Restart":"true","Reporting Node":"all"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","activity.restored"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"2bafc9ab-45f5-39db-9a8d-b49d03172eda","instanceIdentifier":"d09c0267-0197-1000-0000-00001f38cfba","name":"EvaluateJsonPath","comments":"","position":{"x":-624.0,"y":480.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"avg_duration_ns":"$.processorStatus.aggregateSnapshot.averageTaskDurationNanos","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","thread_count":"$.processorStatus.aggregateSnapshot.activeThreadCount","Path Not Found Behavior":"ignore"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"1d2a3875-7fc5-33ea-bde2-cd20ba490f4e","instanceIdentifier":"d060f600-0197-1000-ffff-fffff9e4c15e","name":"InvokeHTTP","comments":"","position":{"x":-624.0,"y":224.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"http://192.168.2.184:8080/nifi/#/process-groups/${uuid}/status","Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","Response Generation Required":"false","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Content-Type":"${mime.type}","Response Body Attribute Name":"invokehttp.response.body","Request Digest Authentication Enabled":"false","Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"61a7c846-2355-3dd0-8efe-4fcb94f654a7","instanceIdentifier":"2cbd39e9-0198-1000-ffff-ffffcaf60c88","name":"MonitorActivity","comments":"","position":{"x":3040.0,"y":1480.0},"type":"org.apache.nifi.processors.standard.MonitorActivity","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Continually Send Messages":"false","Inactivity Message":"Lacking activity as of time: ${now():format('yyyy/MM/dd HH:mm:ss')}; flow has been inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Activity Restored Message":"Activity restored at time: ${now():format('yyyy/MM/dd HH:mm:ss')} after being inactive for ${inactivityDurationMillis:toNumber():divide(60000)} minutes","Copy Attributes":"false","Monitoring Scope":"node","Threshold Duration":"30 sec","Wait for Activity":"false","Reset State on Restart":"true","Reporting Node":"all"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","activity.restored"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"a69162b3-b967-396b-9a68-41c43a053fc8","instanceIdentifier":"2c6e10b3-0198-1000-ffff-fffff0598c37","name":"ExtractText","comments":"","position":{"x":2112.0,"y":352.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true","status":"(?mi)^.err.\\n?"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"c430116c-e1a1-327b-8734-bf22c95e7791","instanceIdentifier":"2cbe4112-0198-1000-ffff-ffffa3d70e61","name":"","source":{"id":"94d70f50-3993-3bf7-9da9-7f6580e0f2d2","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"2c659229-0198-1000-ffff-ffffe1f37575"},"destination":{"id":"850c71f5-bc5d-30dc-8760-88cec9c460c1","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"MonitorActivity","comments":"","instanceIdentifier":"2c65ebec-0198-1000-ffff-ffffe71553d1"},"labelIndex":0,"zIndex":17,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"c53d9d70-35a4-3d5a-9dcc-561358e441de","instanceIdentifier":"d0611de1-0197-1000-0000-00000aadc8f3","name":"","source":{"id":"f5d59231-38a5-3e44-be58-ed1b94226c61","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"UpdateAttribute","comments":"","instanceIdentifier":"d05faa01-0197-1000-ffff-ffffef65a086"},"destination":{"id":"1d2a3875-7fc5-33ea-bde2-cd20ba490f4e","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"InvokeHTTP","comments":"","instanceIdentifier":"d060f600-0197-1000-ffff-fffff9e4c15e"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"ad074f0b-c821-3b3c-a4c3-62ef6349120b","instanceIdentifier":"2caac3f4-0198-1000-ffff-ffffcf102c91","name":"","source":{"id":"a69162b3-b967-396b-9a68-41c43a053fc8","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExtractText","comments":"","instanceIdentifier":"2c6e10b3-0198-1000-ffff-fffff0598c37"},"destination":{"id":"3d91cca5-7659-395e-b136-acc13143bc96","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"PutEmail","comments":"","instanceIdentifier":"2caa9cd6-0198-1000-ffff-ffffe1418cb3"},"labelIndex":0,"zIndex":13,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"8022f91e-bedf-3d93-be13-7a58777ee16a","instanceIdentifier":"d09c69db-0197-1000-ffff-ffffe269abd1","name":"","source":{"id":"1d2a3875-7fc5-33ea-bde2-cd20ba490f4e","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"InvokeHTTP","comments":"","instanceIdentifier":"d060f600-0197-1000-ffff-fffff9e4c15e"},"destination":{"id":"2bafc9ab-45f5-39db-9a8d-b49d03172eda","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d09c0267-0197-1000-0000-00001f38cfba"},"labelIndex":0,"zIndex":5,"selectedRelationships":["Response","Original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"b53aa524-6321-33ee-9c05-bdd86632c610","instanceIdentifier":"2c66e4b1-0198-1000-0000-00006325a802","name":"","source":{"id":"850c71f5-bc5d-30dc-8760-88cec9c460c1","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"MonitorActivity","comments":"","instanceIdentifier":"2c65ebec-0198-1000-ffff-ffffe71553d1"},"destination":{"id":"71307847-714a-3b20-a7a5-ed33e2b696be","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"PutEmail","comments":"","instanceIdentifier":"2c66b070-0198-1000-0000-0000538908a3"},"labelIndex":0,"zIndex":10,"selectedRelationships":["inactive"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"1df44b85-bf36-3231-be69-e0fa4b0633b2","instanceIdentifier":"d05fd278-0197-1000-ffff-ffff8b6fd0fe","name":"","source":{"id":"19ff983a-e09b-3136-b35b-2d218b4d95b9","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"GenerateFlowFile","comments":"","instanceIdentifier":"d05cc18f-0197-1000-0000-00005f26b271"},"destination":{"id":"f5d59231-38a5-3e44-be58-ed1b94226c61","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"UpdateAttribute","comments":"","instanceIdentifier":"d05faa01-0197-1000-ffff-ffffef65a086"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"3271f834-3a5a-3e68-b5bf-bd3dd2035799","instanceIdentifier":"d09ee5a0-0197-1000-ffff-fffff2e1bc9a","name":"","source":{"id":"5b5261c8-b9bc-39f7-ad56-907e2eb58d7c","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d09daa3f-0197-1000-ffff-ffffb51d53df"},"destination":{"id":"0e50dfab-55a4-3c57-882f-3928a2521f0a","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"PutEmail","comments":"","instanceIdentifier":"d09ea74a-0197-1000-ffff-ffff84b073ac"},"labelIndex":0,"zIndex":7,"selectedRelationships":["long_running"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"6c7247be-aaaa-369e-9b8e-42cb961a0fda","instanceIdentifier":"2c6e3dc3-0198-1000-0000-000011942541","name":"","source":{"id":"94d70f50-3993-3bf7-9da9-7f6580e0f2d2","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"2c659229-0198-1000-ffff-ffffe1f37575"},"destination":{"id":"a69162b3-b967-396b-9a68-41c43a053fc8","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExtractText","comments":"","instanceIdentifier":"2c6e10b3-0198-1000-ffff-fffff0598c37"},"labelIndex":0,"zIndex":12,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"91ce7e5c-6f6a-3f6c-aefa-624795db33ef","instanceIdentifier":"d09de225-0197-1000-0000-000071be4c17","name":"","source":{"id":"2bafc9ab-45f5-39db-9a8d-b49d03172eda","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"d09c0267-0197-1000-0000-00001f38cfba"},"destination":{"id":"5b5261c8-b9bc-39f7-ad56-907e2eb58d7c","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"RouteOnAttribute","comments":"","instanceIdentifier":"d09daa3f-0197-1000-ffff-ffffb51d53df"},"labelIndex":0,"zIndex":6,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"a80eb321-aa32-354a-af4b-8d6864b3675b","instanceIdentifier":"d098d258-0197-1000-ffff-fffff68b6c5c","name":"","source":{"id":"52c9e2d7-c29c-3046-b5b3-c5db7ef0ac11","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"d061d68c-0197-1000-0000-0000397ccafe"},"destination":{"id":"8425f745-7836-38e4-aa49-8db22181aa51","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"PutEmail","comments":"","instanceIdentifier":"d098ab80-0197-1000-ffff-ffffd437b013"},"labelIndex":0,"zIndex":4,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"40be4c3b-79fb-3e32-8297-5e8fb52c3b37","instanceIdentifier":"2c65b251-0198-1000-ffff-ffffe11232f4","name":"","source":{"id":"0d7a50ce-6e00-3cf4-8aab-b3484a6e0eec","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"GenerateFlowFile","comments":"","instanceIdentifier":"2c655f17-0198-1000-ffff-ffff9c893702"},"destination":{"id":"94d70f50-3993-3bf7-9da9-7f6580e0f2d2","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"2c659229-0198-1000-ffff-ffffe1f37575"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"},{"identifier":"5672ca8a-46c2-3097-be9b-f3b8d43e9006","instanceIdentifier":"d061f2c5-0197-1000-ffff-ffffe1a92bbf","name":"","source":{"id":"f5d59231-38a5-3e44-be58-ed1b94226c61","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"UpdateAttribute","comments":"","instanceIdentifier":"d05faa01-0197-1000-ffff-ffffef65a086"},"destination":{"id":"52c9e2d7-c29c-3046-b5b3-c5db7ef0ac11","type":"PROCESSOR","groupId":"13037555-954e-3da0-8f40-f21f726cdd30","name":"ExecuteStreamCommand","comments":"","instanceIdentifier":"d061d68c-0197-1000-0000-0000397ccafe"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"13037555-954e-3da0-8f40-f21f726cdd30"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b"},{"identifier":"ecd696dc-8ff0-3561-a84a-e21ae7b07ae7","instanceIdentifier":"c1c73b45-0198-1000-ffff-ffffb1b25673","name":"hello","comments":"","position":{"x":1343.129653930664,"y":159.1999626159668},"processGroups":[],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[{"identifier":"cabe7eb0-7d4f-3a98-aaa9-73d929cba205","instanceIdentifier":"c1c7b59c-0198-1000-ffff-ffff9dd39a1e","name":"StandardFileResourceService","comments":"","type":"org.apache.nifi.fileresource.service.StandardFileResourceService","bundle":{"group":"org.apache.nifi","artifact":"nifi-file-resource-service-nar","version":"2.4.0"},"properties":{"file-path":"${absolute.path}/${filename}"},"propertyDescriptors":{},"controllerServiceApis":[{"type":"org.apache.nifi.fileresource.service.api.FileResourceService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"ecd696dc-8ff0-3561-a84a-e21ae7b07ae7"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b"},{"identifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","instanceIdentifier":"a2360a14-0197-1000-ffff-ffff815c77a3","name":"Parallel-Workflow-Spark","comments":"","position":{"x":48.0,"y":-56.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"5e4a0298-ffa9-31b3-8347-8284936453bb","instanceIdentifier":"e47ce410-e31c-3c5c-9e20-414470e3dfad","name":"Nifi-Email-Notification","comments":"","position":{"x":1048.0,"y":16.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"NIFI-STATUS ERROR NOTIFICATION","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,kumarsrinivas.katta@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"a65f407b-0640-39ee-a9da-fac47aad62bb","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502","name":"Nifi-Status-Check","comments":"","position":{"x":-224.0,"y":16.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/check_status.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"b628b8aa-f1a4-3b80-bf7d-6a1c96918764","instanceIdentifier":"54288ff4-238f-3599-9274-5a743a338b80","name":"Scheduling-Workflow","comments":"","position":{"x":-224.0,"y":-240.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"2 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"63339f0c-5207-3fa6-9f93-1cbe85516058","instanceIdentifier":"4ce655cf-45e3-3f19-91fc-46d5b8ea7b8e","name":"Spark-Enrich-Email-Notification","comments":"","position":{"x":56.0,"y":920.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"SPARK-STRUCTURED ERROR NOTIFICATION FOR ENRICH","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,bhargavkumar.kodavali@cox.com,bhavika.patel@cox.com,lalithreddy.gangi@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"56675ab7-6e04-3089-b2c6-7bff457b013b","instanceIdentifier":"91f8ca7d-ce9d-3d39-a56e-e830ff791178","name":"Spark-Soak","comments":"","position":{"x":624.0,"y":304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/spark-soak.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"899eae7b-5bc2-3962-8e10-b97196409762","instanceIdentifier":"973a4e47-1d13-3d67-913f-8a0986595359","name":"Spark-Structured-Insert-Output","comments":"","position":{"x":-1024.0,"y":928.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"e5a4d367-b1e0-305b-abc2-5097c76ad840","instanceIdentifier":"23129cd4-1f6f-3c18-ab1a-21bcd1679c17","name":"Spark-Structured-Update-Output","comments":"","position":{"x":-480.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"f8e093c4-0340-3a9d-a548-61314352edc7","instanceIdentifier":"ab4a719d-cbce-3f44-b481-0a7f821f7fe6","name":"Spark-Structured-Update","comments":"","position":{"x":-480.0,"y":304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/spark-update.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"555ff8c2-99e5-356d-9229-ddbe54b1540a","instanceIdentifier":"281800de-e116-37a1-8f38-5a5e777f9ef5","name":"Spark-Soak-Output","comments":"","position":{"x":624.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"607a3316-6a4b-38a7-bbdf-457c662a5a34","instanceIdentifier":"f983e90d-ba05-3fc6-8d42-3d4715dc9c0f","name":"Skip-DeadLock-Issue","comments":"","position":{"x":-1024.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?mi)^.*ORA-00060.*\\n?","Replacement Value":"","Evaluation Mode":"Line-by-Line","Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"dc47223c-bd83-3721-951f-32bb08b4db12","instanceIdentifier":"29b1a614-3069-3912-91ca-45c4fb62385b","name":"Spark-Enrich","comments":"","position":{"x":56.0,"y":304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/spark-enrich.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"fb4c60e2-8be9-3d03-8e5a-24d5fb542f9c","instanceIdentifier":"bb67330e-f986-388b-864d-224079dee4c4","name":"Spark-Structured-Insert","comments":"","position":{"x":-1024.0,"y":304.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"sh","Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":"/opt/nifi/nifi-current/conf/scripts/worker/spark-insert.sh"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"d5c7fec1-e37b-319f-bb1c-3cac6068714a","instanceIdentifier":"893662ec-5535-3836-ae63-1aeefd658849","name":"Spark-Structured-Insert-Email-Notification","comments":"","position":{"x":-1024.0,"y":1208.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"SPARK-STRUCTURED ERROR NOTIFICATION FOR INSERT","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,bhargavkumar.kodavali@cox.com,bhavika.patel@cox.com,lalithreddy.gangi@cox.com,kumarsrinivas.katta@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"4453810d-ece0-36bf-aab6-e914d5ead685","instanceIdentifier":"a4bc7bad-ba4a-3039-a757-f3a77552e8ad","name":"Nifi-Status-Output","comments":"","position":{"x":424.0,"y":16.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*down.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"218faae4-b18e-325a-97f2-148f329e29a1","instanceIdentifier":"6a1301df-9e9f-3444-a216-798de209319a","name":"Spark-Soak-Email-Notification","comments":"","position":{"x":624.0,"y":920.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"SPARK-STRUCTURED ERROR NOTIFICATION FOR SOAK","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,bhargavkumar.kodavali@cox.com,bhavika.patel@cox.com,lalithreddy.gangi@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"02bb8ebf-ea32-3235-a377-c74f6d0cdde7","instanceIdentifier":"70d44ad9-5ea6-31ba-886c-1bb7d1741ebe","name":"Spark-Structured-Update-Email-Notification","comments":"","position":{"x":-480.0,"y":920.0},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","Message":"${email.content}","Attach File":"false","input-character-set":"UTF-8","SMTP Port":"587","SMTP Auth":"true","From":"A1netcoolqaprobe@cox.com","Include All Attributes In Message":"false","SMTP Hostname":"smtp.office365.com","Subject":"SPARK-STRUCTURED ERROR NOTIFICATION FOR UPDATE","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"A1netcoolqaprobe@cox.com","To":"chandraprasad.konakalla@cox.com,bhargavkumar.kodavali@cox.com,bhavika.patel@cox.com,lalithreddy.gangi@cox.com,kumarsrinivas.katta@cox.com","email-ff-content-as-message":"true","authorization-mode":"password-based-authorization-mode","SMTP TLS":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"1e56adbc-3841-310f-a673-b02ed7d5b6a9","instanceIdentifier":"fb5c5111-7fb1-3b79-a2e9-03a726d31607","name":"Spark-Enrich-Output","comments":"","position":{"x":56.0,"y":608.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Status":"(?mi)^.*err.*\\n?","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4e6f81b9-11d2-365b-a31a-516d30bacdaa","instanceIdentifier":"cf21785f-383f-3e90-bd64-3ecb3778da3e","name":"","source":{"id":"b628b8aa-f1a4-3b80-bf7d-6a1c96918764","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Scheduling-Workflow","comments":"","instanceIdentifier":"54288ff4-238f-3599-9274-5a743a338b80"},"destination":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"48f47777-52a2-36cf-bca7-2f8c5a3bc17b","instanceIdentifier":"1477903b-6f1b-3fbb-9f2a-72585661ae15","name":"","source":{"id":"555ff8c2-99e5-356d-9229-ddbe54b1540a","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Soak-Output","comments":"","instanceIdentifier":"281800de-e116-37a1-8f38-5a5e777f9ef5"},"destination":{"id":"218faae4-b18e-325a-97f2-148f329e29a1","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Soak-Email-Notification","comments":"","instanceIdentifier":"6a1301df-9e9f-3444-a216-798de209319a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"15859404-b41a-3e54-af6e-e6b510b5702d","instanceIdentifier":"527e76df-0efb-3cb3-bee9-a8d190051c48","name":"","source":{"id":"fb4c60e2-8be9-3d03-8e5a-24d5fb542f9c","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Insert","comments":"","instanceIdentifier":"bb67330e-f986-388b-864d-224079dee4c4"},"destination":{"id":"607a3316-6a4b-38a7-bbdf-457c662a5a34","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Skip-DeadLock-Issue","comments":"","instanceIdentifier":"f983e90d-ba05-3fc6-8d42-3d4715dc9c0f"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"34650e7d-3535-3ead-abd2-2356b02173fb","instanceIdentifier":"0eba3ec6-9ed7-352f-bed9-3cdd639f4452","name":"","source":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"destination":{"id":"fb4c60e2-8be9-3d03-8e5a-24d5fb542f9c","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Insert","comments":"","instanceIdentifier":"bb67330e-f986-388b-864d-224079dee4c4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"1b05c710-1a78-391d-88a0-a8a65d89ec08","instanceIdentifier":"41f6a7fb-75ed-30f7-a087-137fc98cd6de","name":"","source":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"destination":{"id":"56675ab7-6e04-3089-b2c6-7bff457b013b","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Soak","comments":"","instanceIdentifier":"91f8ca7d-ce9d-3d39-a56e-e830ff791178"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"3257ef3e-f226-3d33-9467-9255daec04c2","instanceIdentifier":"3f4e420c-77e3-39c9-b308-ba4a835ff1c7","name":"","source":{"id":"e5a4d367-b1e0-305b-abc2-5097c76ad840","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Update-Output","comments":"","instanceIdentifier":"23129cd4-1f6f-3c18-ab1a-21bcd1679c17"},"destination":{"id":"02bb8ebf-ea32-3235-a377-c74f6d0cdde7","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Update-Email-Notification","comments":"","instanceIdentifier":"70d44ad9-5ea6-31ba-886c-1bb7d1741ebe"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"314661e9-0a91-311c-93f3-04844acf649b","instanceIdentifier":"455536cc-23e5-3257-aa82-6389692d070d","name":"","source":{"id":"1e56adbc-3841-310f-a673-b02ed7d5b6a9","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Enrich-Output","comments":"","instanceIdentifier":"fb5c5111-7fb1-3b79-a2e9-03a726d31607"},"destination":{"id":"63339f0c-5207-3fa6-9f93-1cbe85516058","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Enrich-Email-Notification","comments":"","instanceIdentifier":"4ce655cf-45e3-3f19-91fc-46d5b8ea7b8e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"81c50a9e-1d7c-39ca-affa-926cea753096","instanceIdentifier":"d917efc2-b284-3759-a4ba-3e490d0f53b2","name":"","source":{"id":"4453810d-ece0-36bf-aab6-e914d5ead685","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Output","comments":"","instanceIdentifier":"a4bc7bad-ba4a-3039-a757-f3a77552e8ad"},"destination":{"id":"5e4a0298-ffa9-31b3-8347-8284936453bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Email-Notification","comments":"","instanceIdentifier":"e47ce410-e31c-3c5c-9e20-414470e3dfad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"67f399a3-9f46-3c25-9619-28dfa1a1b2c8","instanceIdentifier":"5e54730d-c430-3bb9-841a-b59935392c64","name":"","source":{"id":"607a3316-6a4b-38a7-bbdf-457c662a5a34","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Skip-DeadLock-Issue","comments":"","instanceIdentifier":"f983e90d-ba05-3fc6-8d42-3d4715dc9c0f"},"destination":{"id":"899eae7b-5bc2-3962-8e10-b97196409762","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Insert-Output","comments":"","instanceIdentifier":"973a4e47-1d13-3d67-913f-8a0986595359"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"961d17ff-e181-349a-956f-e145f5de7277","instanceIdentifier":"003d7c93-60e0-32ff-8f4e-e62204def29a","name":"","source":{"id":"dc47223c-bd83-3721-951f-32bb08b4db12","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Enrich","comments":"","instanceIdentifier":"29b1a614-3069-3912-91ca-45c4fb62385b"},"destination":{"id":"1e56adbc-3841-310f-a673-b02ed7d5b6a9","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Enrich-Output","comments":"","instanceIdentifier":"fb5c5111-7fb1-3b79-a2e9-03a726d31607"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"9dd10e48-bf80-3ea9-800c-4af97a5b8e5e","instanceIdentifier":"6b2647c3-a3a9-32a4-93b4-4334a635b2e8","name":"","source":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"destination":{"id":"f8e093c4-0340-3a9d-a548-61314352edc7","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Update","comments":"","instanceIdentifier":"ab4a719d-cbce-3f44-b481-0a7f821f7fe6"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"0d9721aa-dc5e-3566-819f-687682f95138","instanceIdentifier":"d66c5f56-7d61-356b-aa92-ea1180ba0ff5","name":"","source":{"id":"56675ab7-6e04-3089-b2c6-7bff457b013b","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Soak","comments":"","instanceIdentifier":"91f8ca7d-ce9d-3d39-a56e-e830ff791178"},"destination":{"id":"555ff8c2-99e5-356d-9229-ddbe54b1540a","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Soak-Output","comments":"","instanceIdentifier":"281800de-e116-37a1-8f38-5a5e777f9ef5"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"aa8877fd-4516-3a3a-a34b-033dd7c5208f","instanceIdentifier":"ea553865-a10b-3417-89fb-0a2e6ca89b09","name":"","source":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"destination":{"id":"dc47223c-bd83-3721-951f-32bb08b4db12","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Enrich","comments":"","instanceIdentifier":"29b1a614-3069-3912-91ca-45c4fb62385b"},"labelIndex":0,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"3ce55d3d-756f-3994-a9d2-8b72ccd51adb","instanceIdentifier":"1aab6a3d-61fe-3098-92a0-8576649c6439","name":"","source":{"id":"f8e093c4-0340-3a9d-a548-61314352edc7","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Update","comments":"","instanceIdentifier":"ab4a719d-cbce-3f44-b481-0a7f821f7fe6"},"destination":{"id":"e5a4d367-b1e0-305b-abc2-5097c76ad840","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Update-Output","comments":"","instanceIdentifier":"23129cd4-1f6f-3c18-ab1a-21bcd1679c17"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"b637a077-4c91-30d4-9579-9eb8e53c23e8","instanceIdentifier":"8b4aebf1-3e6a-34c0-9bfd-9290361c4a23","name":"","source":{"id":"a65f407b-0640-39ee-a9da-fac47aad62bb","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Check","comments":"","instanceIdentifier":"0f659c8c-8734-33af-b454-d51b9258b502"},"destination":{"id":"4453810d-ece0-36bf-aab6-e914d5ead685","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Nifi-Status-Output","comments":"","instanceIdentifier":"a4bc7bad-ba4a-3039-a757-f3a77552e8ad"},"labelIndex":0,"zIndex":0,"selectedRelationships":["output stream","original","nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"},{"identifier":"35f09585-1df1-37dd-b9e2-657ef04acd35","instanceIdentifier":"b8be4b6d-09b4-36c7-a278-86454d474457","name":"","source":{"id":"899eae7b-5bc2-3962-8e10-b97196409762","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Insert-Output","comments":"","instanceIdentifier":"973a4e47-1d13-3d67-913f-8a0986595359"},"destination":{"id":"d5c7fec1-e37b-319f-bb1c-3cac6068714a","type":"PROCESSOR","groupId":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6","name":"Spark-Structured-Insert-Email-Notification","comments":"","instanceIdentifier":"893662ec-5535-3836-ae63-1aeefd658849"},"labelIndex":0,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"ca7e8e60-ffd4-3067-9de5-f2d8fba2c1e6"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"4eaf5aea-d9ad-3c66-b456-fc0a041d024b"}],"remoteProcessGroups":[],"processors":[],"inputPorts":[],"outputPorts":[],"connections":[],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"}}